#agenda-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "day"
    "editor";
}

nav {
    grid-area: nav;
}

.day {
    grid-area: day;
}

.editor {
    grid-area: editor;
}